*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #99460E;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-2 {
  font-size: 4rem;
  font-style: italic; }
  .heading-2--light {
    color: #F1EBE0; }
  .heading-2--dark {
    color: #172B69; }

.heading-3 {
  color: #E8A93F;
  font-size: 1.6rem;
  text-transform: uppercase; }

.heading-4 {
  font-size: 2rem; }
  .heading-4--light {
    color: #F1EBE0; }
  .heading-4--dark {
    color: #172B69; }

.btn {
  background-color: #99460E;
  color: white;
  border: none;
  border-radius: 0;
  font-family: font-display;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.4rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #E8A93F; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.sidebar {
  background-color: #E8A93F;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }

.header {
  background-color: #172B69;
  grid-column: full-start / col-end 6; }

.team {
  background-color: #0A1237;
  grid-column: col-start 7 / full-end; }

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 6rem;
  align-items: start; }

.feature {
  font-size: 2rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  .feature__icon {
    fill: #99460E;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature__text {
    font-size: 1.8rem; }

.story__pictures {
  background-color: #99460E;
  grid-column: full-start / col-end 4;
  background-image: linear-gradient(rgba(153, 70, 14, 0.85), rgba(153, 70, 14, 0.85)), url(../img/biz_map.jpg);
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }

.story__img--1 {
  width: 100%;
  grid-row: 1 / 7;
  grid-column: 1 / 6;
  background-image: -moz-linear-gradient(rgba(153, 70, 14, 0.85), rgba(153, 70, 14, 0.85));
  background-size: cover;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }

.story__img--2 {
  width: 115%;
  grid-row: 5 / 6;
  grid-column: 3 / 7;
  z-index: 10;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }

.story__content {
  background-color: #F1EBE0;
  grid-column: col-start 5 / full-end;
  padding: 6rem 8vw;
  display: grid;
  align-content: center;
  justify-items: start; }

.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem; }

.projects {
  grid-column: center-start / center-end;
  margin: 15rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }

.project {
  background-color: #F1EBE0; }

.gallery {
  background-color: #172B69;
  grid-column: full-start / full-end; }

.footer {
  background-color: #0A1237;
  grid-column: full-start / full-end; }
