// COLOR VARIABLES
$color--brown-primary: #99460E;

$color-yellow-primary: #E8A93F;
$color-yellow-light: #F1EBE0;

$color-blue-secondary: #0A1237;
$color-blue-light: #172B69; 



// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;