.features {
    //background-color: $color-yellow-light;
    grid-column: center-start / center-end;
    
    margin: 15rem 0;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 6rem;
}

.feature {
    font-size: 2rem;

    &__icon {
        fill: $color--brown-primary;
        width: 4.5rem;
        height: 4.5rem;
    }

    &__text {
        font-size: 1.8rem;
    }
}