.projects {
    //background-color: $color-blue-light;
    grid-column: center-start / center-end;
    margin: 15rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
}

.project {
    background-color: $color-yellow-light;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &__img {
        width: 100%;
        grid-column:  1 / -1;

    }

    &__check {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        height: 4rem;
        width: 4rem;
        
        
    }

    &__check2 {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        height: 4rem;
        width: 4rem;
        
        
    }

    &__name {
        grid-column:  1 / -1; 
        
    }

    &__link {
        height: 2rem;
        width: 2rem;
    }

    &__lock,
    &__reliability,
    &__performance,
    &__operational {

        

        p {

        }
    }

    &__brn {
        grid-column:  1 / -1; 
    }
}